<%= form_for([@user, @blog]) do |f| %>
	<%= render "shared/errors" %>
	<p>
	<%= f.label :content %><br />
	<%= f.text_area :content, cols: 100, rows: 10 %>
	</p>
	<p>
	<%= f.submit "Post" %> |
	<%= link_to("Cancel", user_blogs_path(@user)) %>
	</p>
<% end %>