<body>
  <%= render "layouts/navbar_top" %>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	            <% @blogs.each do |b| %>
	            <% @user = b.user %>
	            <div class="post-preview">
									<h2 class="post-title">
										<%= b.title %>
									</h2>	                
									<h4 class="post-subtitle">
                    <%= b.content %>
                  </h4>
	                <p class="post-meta">Posted by <%= link_to(@user.name, user_path(@user)) %> <%= time_ago_in_words(b.created_at) %> ago</p>
	            </div>
	            <hr>
	            <% end %>
	        </div>
	    </div>
	</div>
</body>
<%= render "layouts/footer" %>