<header>
	<h1>RnC News</h1>
</header>
<br />
<body>
	<% @blogs.each do |b| %>
		<% @user = User.find(b.user_id) %>
		<p>
			<%= link_to(@user.name, user_path(@user)) %> |
			<%= "#{time_ago_in_words(b.created_at)} ago" %>
		</p>
		<p>
			<%= truncate(b.content, length: 100, separator: " ") %>
			<%= link_to("See full post", user_blog_path(@user, b)) %>
		</p>
	<% end %>
</body>
<br />

<%= render "layouts/footer" %>