<body>
  <%= render "layouts/navbar_top" %>
	<!-- Main Content -->
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	            <% @blogs.each do |b| %>
	            <% @player = Player.find(b.player_id) %>
	            <div class="post-preview">
									<!--<h2 class="post-title">Title</h2>-->	                
									<h4 class="post-subtitle">
                    <%= b.content %>
                  </h4>
	                <p class="post-meta">Posted by <%= link_to(@player.name, player_path(@player)) %> <%= time_ago_in_words(b.created_at) %> ago</p>
	            </div>
	            <hr>
	            <% end %>
	            <!-- Pager -->
	            <ul class="pager">
	                <li class="next">
	                    <a href="#">Older Posts &rarr;</a> <!-- make this show older posts -->
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
</body>
  
<%= render '/layouts/footer' %>