<header>
	<h1><%= "Blog ##{@blog.id}" %></h1>
</header>
<br />
<body>
	<p>
		<%= @blog.content %>
	</p>
	<p>
		<%= link_to("Delete", @blog, method: :delete, 
			data: { confirm: "Are you #{@player.name}?" }) %>
	</p>
	<p>
		Back to
		<br />
		<%= link_to("#{@player.name}", player_path(@player)) %> |
		<%= link_to("RnC News", blogs_path) %>
	</p>
</body>
<br />
<%= render "layouts/footer" %>
