<!-- <header>
	<h1><%= "Blog ##{@blog.id}" %></h1>
</header>
<br>
<body>
	<p>
		<%= @blog.content %>
	</p>
	<p>
		<%= link_to("Delete", @blog, method: :delete, 
			data: { confirm: "Are you #{@user.name}?" }) %>
	</p>
	<p>
		Back to
		<br>
		<%= link_to("#{@user.name}", user_path(@user)) %> |
		<%= link_to("RnC News", news_path) %>
	</p>
</body>
<br>

<%= render "layouts/footer" %>
 -->