<body>
    <%= render "layouts/navbar_top" %>
	<div class="container">
        <div class="row">

        
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 user-show">
                <%= image_tag gravatar_id(@user) %>
            </div>

            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 user-show">

                <h3><%= "#{@user.name} ##{@user.number}"%></h3>

                <p><%= @user.intro %></p>

                <% if @user.blogs.any? %>
                    <p><%= link_to("See all posts by #{@user.name}", 
                                user_blogs_path(@user)) %></p>
                <% end %>
            </div>
        </div>

	</div>

</body>

<%= render "layouts/footer" %>