<body>
    <%= render "layouts/navbar_top" %>
	<div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3><%= "#{@user.name} ##{@user.number}"%></h3>
                <%= image_tag gravatar_id(@user) %>
            </div>

            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <% if @user.blogs.any? %>
                    <p><%= link_to("See all posts by #{@user.name}", 
                                user_blogs_path(@user)) %>
                    </p>
                <% end %>

            </div>

        </div>

	</div>

</body>

<%= render "layouts/footer" %>
