<body>
    <%= render "layouts/navbar_top" %>
	<div class="container">
        <div class="row">

        
            <div class="col-lg-6 col-md-6 col-sm-6 user-show">
                <%= image_tag gravatar_id(@user) %>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">

                <h3><%= "#{@user.name} ##{@user.number}"%></h3>

                <p><%= @user.intro %></p>

            </div>

            <div class="col-xs-12">
                <% if @user.blogs.any? %>
                    <p><h4><%= link_to("See all posts by #{@user.name}", 
                                user_blogs_path(@user)) %></h4></p>
                <% end %>
            </div>
        </div>

	</div>

</body>

<%= render "layouts/footer" %>