<header>
  <h1> <%= @player.name %> </h1>
</header>

<body class="show">
  <br />
  <%= render "layouts/sidebar" %>

  <img>
    <%= find_pic(@player) %>    
  </img>
  <p>
    <%= link_to("글쓰기", new_player_blog_path(@player)) %>
  </p>

 </body>

<%= render "layouts/footer" %>
