<header id="page-header">
  <h1> <%= @player.name %> </h1>
</header>

<body class="show">
  <br />
  <%= render "layouts/sidebar" %>

  <img>
    <%= find_pic(@player) %>    
  </img>
  <p>
    <%= self_intro(@player)%>
  </p>
  <table>
    <tr>
      <th>Number</th>
      <td><%= @player.number %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= @player.age %></td>
    </tr>
    <tr>
      <th>Nationality</th>
      <td><%= @player.nationality %></td>
    </tr>
  </table>
</body>

<%= render "layouts/footer" %>
